/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20/07/2024, 2:53:00 p. m.
    Author     : JDBJ
*/

/*  Navar CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--white);
    padding: 0 8%;
    box-shadow: var(--shadow);
}

.navbar-logo {
    cursor: pointer;
    width: 4.5%;
}

.navbar-list {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
}

.navbar-list li {
    display: inline-block;
    margin: 0 1rem;
}

.navbar-list li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

.profile-dropdown {
    position: relative;
    width: fit-content;
}

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: var(--black);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.3s;
}

.profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}

.profile-img {
    position: relative;
    width: 3rem;
    height: 3.10rem;
    border-radius: 50%;
    background: url("../icono.png");
    background-size: cover;
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);
}

.profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
}

.profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
}

.profile-dropdown-list hr {
    border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
}

.profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
}

/* Chatbot CSS */
:root {
    --text-color: #FFFFFF;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #dcdcdc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}

.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #FFFFFF;
    --incoming-chat-bg: #F7F7F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;
}

body {
    background: var(--incoming-chat-bg);
}

.default-text h1 {
    font-size: 3.3rem;
}

.default-text p {
    margin-top: 10px;
    font-size: 1.1rem;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
    width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}

.chat-container {
    overflow-y: auto;
    max-height: 99vh;
    padding-bottom: 150px;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.chat-container .chat {
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.chat-container .chat.outgoing {
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

span.material-symbols-rounded {
    user-select: none;
    cursor: pointer;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
}

.chat .chat-details {
    display: flex;
    align-items: center;
}

.chat .chat-details p {
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
    color: var(--text-color);
    word-break: break-word;
}

.chat .chat-details img {
    width: 35px;
    height: 35px;
    align-self: flex-start;
    object-fit: cover;
    border-radius: 2px;
}

.chat .chat-details p.error {
    color: #e55865;
}

.chat .typing-animation {
    padding-left: 25px;
    display: inline-flex;
}

.typing-animation .typing-dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 0 3px;
    opacity: 0.7;
    background: var(--text-color);
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
    margin-left: 0;
}

@keyframes animateDots {
    0%,
    44% {
        transform: translateY(0px);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-6px);
    }

    44% {
        opacity: 0.2;
    }
}

.typing-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border-top: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
    display: flex;
    max-width: 950px;
    width: 100%;
    align-items: flex-end;
}

.typing-container .typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 100%;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea textarea::placeholder {
    color: var(--placeholder-color);
}

.typing-textarea span {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.typing-textarea textarea:valid~span {
    visibility: visible;
}

.typing-controls {
    display: flex;
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}

.typing-controls span:hover {
    background: var(--icon-hover-bg);
}

